[submodule "gnu-efi"]
	path = gnu-efi
	url = ../gnu-efi.git
[submodule "uefi-gdb"]
	path = uefi-gdb
	url = ../efi-gdb.git
[submodule "abyme-challenge"]
	path = abyme-challenge
	url = ../abyme-challenge.git
[submodule "edk2"]
	path = edk2
	url = ../edk2.git
